
body{
	background-color: black;
}

a{
	font-family: "Copperplate Gothic";
	font-size: 25px;
}
li { 
	margin-left:4em; 
} 

.carousel-inner img {
    height: 600px;
    
}

.carousel-inner{
 height: 600px;
 width:100px;
}


#divisor{
	background-color: black;
	color: yellow;
	font-family: "Copperplate Gothic";
}


#ubicacion{
	background-color: white;
}
